@font-face {
    font-family: "Ephesis";
    src: url("../fonts/Ephesis-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-gradient: radial-gradient(circle at top, #214641 0%, #102421 30%, #0c0c0c 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svg-defs-container {
    display: hidden;
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
}

body {
    background-color: #0c0c0c;
    height: 100dvh;
    width: 100dvw;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    position: relative;
}

.backgroudn-sky {
    background: var(--bg-gradient);
    height: 100%;
    width: 100%;
    position: absolute;
}

main {
    position: relative;
    height: 100%;
    width: 95%;
    transform-origin: center center;
    transform: scale(0.95);
}

audio {
    display: hidden;
}

#firma {
    position: absolute;
    right: 5%;
    bottom: 5%;
    text-align: center;
    font-family: "Ephesis";
    font-size: 24px;
    color: white;
    user-select: none;
    transform: none;
    animation: fadeIn 4s ease forwards;
    white-space: pre-line;
}

#audioBtn {
    position: absolute;
    right: 5%;
    top: 5%;
    transform: none;
    user-select: none;
    pointer-events: auto;
    border: none;
    border-radius: 6px;
    background: none;
    animation: fadeIn 4s ease forwards;
}

#audioBtn svg {
    width: 40px;
    height: 40px;
    background: #303030;
    color: #141414;
    border-radius: 5px;
}

#iconPause {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    body {
        transform: none;
    }

    main {
        width: 60%;
    }
}